.img-div {
  width: 50px;
  height: 500px;
  float: left;
  margin: 0 10px;
  border: 1px solid red;
  transition: 2s;
}

.img-widen {
  width: 200px;
}

#gallery {
  margin: 10vw 1vw 2vw 10vw;
}

#img1 {
  background-image: url("https://picsum.photos/id/813/1350/900");
}

#img2 {
  background-image: url("https://picsum.photos/id/247/580/680");
}

#img3 {
  background-image: url("https://picsum.photos/id/399/580/680");
}

#img4 {
  background-image: url("https://picsum.photos/id/503/580/680");
}

#img5 {
  background-image: url("https://picsum.photos/id/305/580/680.jpg");
}