.img-div {
  width: 50px;
  height: 200px;
  float: left;
  border: 1px solid red;
  animation: widen-border;
}

.img-border {
  animation: border 4s;
}

@keyframes border {
  from {
    border-width: 1px;
  }
  to {
    border-width: 10px;
  }
}

#gallery {
  margin: 10vw 1vw 2vw 10vw;
}

#img1 {
  background-image: url("https://picsum.photos/id/813/1350/900");
}

#img2 {
  background-image: url("https://picsum.photos/id/247/580/680");
}

#img3 {
  background-image: url("https://picsum.photos/id/399/580/680");
}

#img4 {
  background-image: url("https://picsum.photos/id/503/580/680");
}

#img5 {
  background-image: url("https://picsum.photos/id/305/580/680.jpg");
}